<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Appointment</title>

    <!-- Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- External CSS -->
    <link rel="stylesheet" href="doctor_my.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

    <!-- ===== Navbar ===== -->
   <header>
        <nav class="navbar">
            <div class="logo">
                <h2>Dr. Dwivedi's Multi-speciality Homoeopathy & Cosmetic Clinic</h2>
            </div>

            <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/doctor">Our Doctors</a></li>
            <li class="dropdown">
             <a href="#">Services ▾</a>
            <ul class="dropdown-menu">
        <li><a href="/homeopathic">Homeopathic Services</a></li>
        <li><a href="/cosmetology">Cosmetology Services</a></li>
        </ul>
        </li>

            <li><a href="/appointment">Appointments</a></li>
             <li><a href="/gallery">Gallery</a></li>
            <li><a href="/contact">Contact</a></li>
            </ul>
            <div class="menu-toggle">☰</div>
        </nav>
    </header>



    <!-- ===== Appointment Section ===== -->
    <section class="appointment-section">

        <div class="appointment-container">

            <h1>Book an Appointment</h1><br>
            <p>Fill the form below and our team will contact you shortly.</p><br>

            <!-- Appointment Form -->
            <form action="/appointment" method="POST" class="appointment-form">

                <!-- Patient Name -->
                <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" name="name" placeholder="Enter your full name" required>
                </div><br>

                <!-- Email -->
                <div class="form-group">
                    <label>Email Address</label>
                    <input type="email" name="email" placeholder="Enter your email" required>
                </div><br>

                <!-- Phone -->
                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="tel" name="phone" placeholder="Enter your phone number" required>
                </div><br>

                <!-- Doctor Select -->
                <div class="form-group">
                    <label>Select Doctor</label>
                    <select name="doctor" required>
                        <option value="">-- Choose Doctor --</option>
                        <option>Dr. Abhishek Dwivedi (Classical Homeopath)</option>
                        <option>Dr. Vaishali Bhargava (Dermentologist)</option>
                        
                    </select>
                </div><br>
                 <div>
                     <label>Select Service Mode </label>
                    <select name="doctor" required>
                        <option value="">-- Choose Service Mode --</option>
                        <option>Offline</option>
                        <option>Online</option>
                         </select>
                 </div><br>

                <!-- Date -->
                <div class="form-group">
                    <label>Appointment Date</label>
                    <input type="date" name="date" required>
                </div><br>

                <!-- Time -->
                <div class="form-group">
                    <label>Preferred Time</label>
                    <input type="time" name="time" required>
                </div><br>

                <!-- Message -->
                <div class="form-group">
                    <label>Message</label>
                    <textarea name="message" rows="4" placeholder="Write your problem..."></textarea>
                </div><br>

                <!-- Submit Button -->
                <button type="submit" class="btn">
                    Book Appointment
                </button><br>

            </form>

        </div>

    </section>



    <!-- ===== Footer ===== -->
 <footer class="footer">

        <div class="footer-left">
             <a href="https://www.google.com/maps/dir//Dr.+Dwivedi's+Multi-speciality+Homoeopathy+%26+Cosmetic+Clinic,+Physical+College+Rd,+near+Moti+Baba,+Indira+Colony,+Shivpuri,+Madhya+Pradesh+473638/@22.2882883,70.8034317,14z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x3970b957a4507623:0x383a82215f043662!2m2!1d77.6616712!2d25.4257251!5m1!1e1?entry=ttu&g_ep=EgoyMDI2MDIxOC4wIKXMDSoASAFQAw%3D%3D" target="_blank" >
                <div class="footerleft-content">
<i class="fas fa-map-marker-alt"></i><p>Physical College Rd, near Moti Baba, <br>Indira Colony Shivpuri, Madhya Pradesh  </p>
                </div></a>
            
        </div>

        <div class="footer-right">
            

                  <div class="footer-icons">
  <a href="https://wa.me/917415772776" target="_blank"><i class="fab fa-whatsapp"></i> WhatsApp</a>
  <a href="https://www.facebook.com/search/top?q=dwivedi%27s%20homoeopathic%20clinic"><i class="fab fa-facebook-f"></i> Facebook</a>
  <a href="https://www.instagram.com/dr.dwivedi_homoeo_cosmetology/"><i class="fab fa-instagram"></i> Instagram</a>
</div>
        </div>

    </footer>

<script>
const toggle = document.querySelector(".menu-toggle");
const navLinks = document.querySelector(".nav-links");

toggle.addEventListener("click", () => {
    navLinks.classList.toggle("active");
});
</script>

</body>
</html>

