<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>

    <!-- Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- External CSS -->
    <link rel="stylesheet" href="doctor_my.css">
</head>

<body>

     <!-- ===== Navbar ===== -->
     <header>
        <nav class="navbar">
            <div class="logo">
                <h2>Dr. Dwivedi's Multi-speciality Homoeopathy & Cosmetic Clinic</h2>
            </div>

            <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/doctor">Our Doctors</a></li>
            <li class="dropdown">
             <a href="#">Services ▾</a>
            <ul class="dropdown-menu">
        <li><a href="/homeopathic">Homeopathic Services</a></li>
        <li><a href="/cosmetology">Cosmetology Services</a></li>
        </ul>
        </li>

            <li><a href="/appointment">Appointments</a></li>
             <li><a href="/gallery">Gallery</a></li>
            <li><a href="/contact">Contact</a></li>
            </ul>
 <div class="menu-toggle">☰</div>
        </nav>
    </header>



    <!-- ===== Contact Section ===== -->
    <section class="contact-section">

        <div class="contact-container">

            <!-- Heading -->
            <div class="contact-heading">
                <h1>Contact Us</h1>
                <p>Get in touch with us for any medical support.</p><br><br>
            </div>


            <div class="contact-content">

                <!-- Contact Info -->
                <div class="contact-info">

                    <h3>Clinic Information</h3>

                    <p>Physical College Rd, near Moti Baba <br>Shivpuri, Madhya Pradesh 473638</p>

                    <p><strong>Phone:</strong> +91 7415772776</p>

                    <p><strong>Email:</strong> support@medicare.com</p><br><br>

                    <p><strong>Working Hours:</strong><br>
                        Fri – Wed : 10:00 AM – 8:00 PM<br>
                        Thursday : Emergency Only
                    </p>

                </div>



               

                </div>

            </div>



            
        </div>

    </section><br><br><br><br><br><br><br><br>



    <!-- ===== Footer ===== -->
 <footer class="footer">

        <div class="footer-left">
            <p>Physical College Rd, near Moti Baba <br>Shivpuri, Madhya Pradesh 473638</p>
        </div>
        <!-- Google Map -->
            <div class="contact-map">
<a href="https://www.google.com/maps/dir//Dr.+Dwivedi's+Multi-speciality+Homoeopathy+%26+Cosmetic+Clinic,+Physical+College+Rd,+near+Moti+Baba,+Indira+Colony,+Shivpuri,+Madhya+Pradesh+473638/@22.2882883,70.8034317,14z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x3970b957a4507623:0x383a82215f043662!2m2!1d77.6616712!2d25.4257251!5m1!1e1?entry=ttu&g_ep=EgoyMDI2MDIxOC4wIKXMDSoASAFQAw%3D%3D">Dwivedi's Clinic Location</a>
            </div>


        <div class="footer-right">
            

                   <div class="social-icons">
               <div class="social-icons">
    <a href="https://wa.me/917415772776" target="_blank">WhatsApp</a>
    <a href="https://www.instagram.com/dr.dwivedi_homoeo_cosmetology/" target="_blank">Instagram</a>
    <a href="https://www.facebook.com/search/top?q=dwivedi%27s%20homoeopathic%20clinic" target="_blank">Facebook</a>
</div>

            </div>
        </div>

    </footer>




</body>
</html>
