<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dr dwivedi's homeopathic clinic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Link -->
    <link rel="stylesheet" href="doctor_my.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

    <!-- ================= NAVBAR ================= -->
    <header>
        <nav class="navbar">
            <div class="logo">
                <h2>Dr. Dwivedi's Multi-speciality Homoeopathy & Cosmetic Clinic</h2>
            </div>

            <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/doctor">Our Doctors</a></li>
            <li class="dropdown">
             <a href="#">Services ▾</a>
            <ul class="dropdown-menu">
        <li><a href="/homeopathic">Homeopathic Services</a></li>
        <li><a href="/cosmetology">Cosmetology Services</a></li>
        </ul>
        </li>

            <li><a href="/appointment">Appointments</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/contact">Contact</a></li>
            </ul>
            <div class="menu-toggle">☰</div>
        </nav>
    </header>


    <!-- a div in which doctor image name contents like about experience taken in paragraph tags-->
    


    <!-- ================= DOCTORS SECTION ================= -->
     <section class="doctor">

        <div class="doctor-card">
            <img src="doctorpage_abhishek.jpeg" alt="Dr Abhishek Dwivedi">

            <h3>Dr Abhishek Dwivedi</h3>
            <p class="speciality">Classical Homeopathy</p><br>
            <p>
               <b class="About">About</b> <br>Dr. Abhishek Dwivedi is a Classical Homeopath focused on treating the root cause through personalized, gentle, and holistic homeopathic care for lasting health.
</p>
<p>
   <b class="Experience">Experience</b> <br>Dr. Abhishek Dwivedi has over 10 years of experience in Classical Homeopathy, successfully treating a wide range of acute and chronic diseases with personalized, root-cause–based care.
</p>
<p>
   <b class="Education">Education</b> <br>Dr. Abhishek Dwivedi completed his BHMS degree from Bhopal and has further enhanced his expertise with several professional certifications in Classical Homeopathy.
</p>
</div>
<div class="doctor-card">
            <img src="doctorpage_vaishali.jpeg" alt="Dr Abhishek Dwivedi">

            <h3>Dr Vaishali Dwivedi</h3>
            <p class="speciality">Modern Cosmetologist</p><br>
            <p>
                <b class="About">About</b><br>Dr. Vaishali Dwivedi is a cosmetologist with 7+ years of experience in skin and hair treatments. She focuses on safe, effective, and personalized care to deliver natural-looking results.
</p>
<p>
   <b class="Experience">Experience</b> <br>Dr. Vaishali Dwivedi has over 7 years of hands-on experience in treating various skin and hair concerns, with a strong focus on patient satisfaction and advanced aesthetic procedures.
</p>
<p>
    <b class="Education">Education</b><br>Dr. Vaishali Dwivedi completed BHMS and holds advanced certifications in cosmetology, including PGDCC, PGDFA, and PGDTL, enabling her to provide modern and effective treatments.
</p>
</div>


        
    </section>
    
    


    <!-- ================= FOOTER ================= -->
    <footer class="footer">

        <div class="footer-left">
             <a href="https://www.google.com/maps/dir//Dr.+Dwivedi's+Multi-speciality+Homoeopathy+%26+Cosmetic+Clinic,+Physical+College+Rd,+near+Moti+Baba,+Indira+Colony,+Shivpuri,+Madhya+Pradesh+473638/@22.2882883,70.8034317,14z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x3970b957a4507623:0x383a82215f043662!2m2!1d77.6616712!2d25.4257251!5m1!1e1?entry=ttu&g_ep=EgoyMDI2MDIxOC4wIKXMDSoASAFQAw%3D%3D" target="_blank" >
                <div class="footerleft-content">
<i class="fas fa-map-marker-alt"></i><p>Physical College Rd, near Moti Baba, <br>Indira Colony Shivpuri, Madhya Pradesh  </p>
                </div></a>
            
        </div>

        <div class="footer-right">
            

                  <div class="footer-icons">
  <a href="https://wa.me/917415772776" target="_blank"><i class="fab fa-whatsapp"></i> WhatsApp</a>
  <a href="https://www.facebook.com/search/top?q=dwivedi%27s%20homoeopathic%20clinic"><i class="fab fa-facebook-f"></i> Facebook</a>
  <a href="https://www.instagram.com/dr.dwivedi_homoeo_cosmetology/"><i class="fab fa-instagram"></i> Instagram</a>
</div>
        </div>

    </footer>

<script>
const toggle = document.querySelector(".menu-toggle");
const navLinks = document.querySelector(".nav-links");

toggle.addEventListener("click", () => {
    navLinks.classList.toggle("active");
});
</script>

</body>
</html>
