<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS Link -->
    <link rel="stylesheet" href="doctor_my.css">
</head>
<body>
     <!-- ================= NAVBAR ================= -->
    <header>
        <nav class="navbar">
            <div class="logo">
                <h2>Dr. Dwivedi's Multi-speciality Homoeopathy & Cosmetic Clinic</h2>
            </div>

            <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/doctor">Our Doctors</a></li>
            <li class="dropdown">
             <a href="#">Services ▾</a>
            <ul class="dropdown-menu">
        <li><a href="/homeopathic">Homeopathic Services</a></li>
        <li><a href="/cosmetology">Cosmetology Services</a></li>
        </ul>
        </li>

            <li><a href="/appointment">Appointments</a></li>
             <li><a href="/gallery">Gallery</a></li>
            <li><a href="/contact">Contact</a></li>
            </ul>
 <div class="menu-toggle">☰</div>
        </nav>
    </header>
    <!-- ================= GALLERY SECTION ================= -->
     <p id="contact-text">Discover Our Homeopathic & Dermetology Surgery Gallery at Dr. Dwivedi's Clinic</p>
<div>
    
    <img src="image.webp" alt="gallery" id="galleryimg">
    <img src="image.webp" alt="gallery" id="galleryimg">
    <img src="image.webp" alt="gallery" id="galleryimg">
    <img src="image.webp" alt="gallery" id="galleryimg">
    <img src="image.webp" alt="gallery" id="galleryimg">
    <img src="image.webp" alt="gallery" id="galleryimg">
    <img src="image.webp" alt="gallery" id="galleryimg">
    <img src="image.webp" alt="gallery" id="galleryimg">
    <img src="image.webp" alt="gallery" id="galleryimg">
</div>

 <!-- ================= FOOTER ================= -->
    <footer class="footer">

        <div class="footer-left">
            <p>Physical College Rd, near Moti Baba <br>Shivpuri, Madhya Pradesh 473638</p>
        </div>

        <div class="footer-right">
            

                    <div class="social-icons">
               <div class="social-icons">
    <a href="https://wa.me/917415772776" target="_blank">WhatsApp</a>
    <a href="https://www.instagram.com/dr.dwivedi_homoeo_cosmetology/" target="_blank">Instagram</a>
    <a href="https://www.facebook.com/search/top?q=dwivedi%27s%20homoeopathic%20clinic" target="_blank">Facebook</a>
</div>

            </div>
        </div>

    </footer>
<script>
const toggle = document.querySelector(".menu-toggle");
const navLinks = document.querySelector(".nav-links");

toggle.addEventListener("click", () => {
    navLinks.classList.toggle("active");
});
</script>

</body>
</html>
